@import "./App/Assets/scss/_header.scss";
@import "./App/Assets/scss/_input.scss";
@import "./App/Assets/scss/_signin.scss";
@import "./App/Assets/scss/_work.scss";

body{
  box-sizing: border-box;
  margin: 0 auto;
}

.content{
  margin: 0 auto;
}