@import 'variable';

.work{
  margin: 0 auto;
  width: 50%;
  overflow-scrolling: hidden;
  background-color: $lightgrey;
  border-radius: 10px;
  margin-bottom: 20px;
  h1{
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    width: 20%;
    margin: auto;
  }
  li{
    padding: 10px 10px 10px 10px;
    border-top: 1px solid white;
  }
  ol{
    width: 95%;
    list-style: none;
    background-color: white;
    padding: 0;
    margin: auto;
    :nth-child(even){
      background-color: $lightgrey;
    }
    strong{
      text-decoration-line: underline;
      line-height: 35px;
    }
  }
}

@media (max-width: 1100px) {
  .work{
    width: 70%;
  }
}

@media (max-width: 700px) {
  .work{
    width: 90%;
  }
}