.header {
  display: flow-root;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

.header #logoDiv {
  margin: 5px 0 0 20px;
  float: left;
}

.header #logoDiv #logoRedux {
  height: 50px;
}

.header ul {
  float: right;
  margin-right: 50px;
}

.header ul li {
  margin: 5px 20px 5px 20px;
  display: inline-block;
  list-style: none;
}

.header ul li a {
  font-size: small;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.header ul li .selected {
  color: crimson;
}

form {
  margin: 0 auto;
  width: 50%;
  display: table;
}

form button {
  margin: auto;
  width: calc(100% + 20px);
  padding: 15px;
  color: white;
  font-weight: bold;
  background-color: #B2AFA1;
  text-transform: uppercase;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 2px;
  border: none;
}

form .InputForm {
  margin: auto;
  border-radius: 1px;
  margin: 20px 0px;
}

form .InputForm input {
  text-transform: uppercase;
  width: 100%;
  font-size: 16px;
  padding: 20px 0px;
  background-color: #eeeeee;
  border: 1px solid #D7C5C2;
  padding-left: 20px;
}

form .InputForm input:focus {
  border: 1px solid black;
  outline: none;
}

.checkboxDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkboxDesc .InputForm {
  margin-right: 10px;
}

.checkboxDesc .InputForm input {
  width: 20px;
  float: left;
  margin: 0;
}

.checkboxDesc .InputForm p {
  width: 90%;
  float: left;
}

@media (min-width: 1100px) {
  form {
    width: 35%;
  }
}

.signin {
  margin: 0 auto;
}

.signin h2,
.signin h4 {
  text-align: center;
}

.signin a {
  color: crimson;
}

.signin #spanTxt {
  color: #B2AFA1;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.content {
  margin: 0 auto;
}

