.header {
  display: flow-root;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

.header #logoDiv {
  margin: 5px 0 0 20px;
  float: left;
}

.header #logoDiv #logoRedux {
  height: 50px;
}

.header ul {
  float: right;
  margin-right: 50px;
}

.header ul li {
  margin: 5px 20px 5px 20px;
  display: inline-block;
  list-style: none;
}

.header ul li a {
  font-size: small;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.header ul li .selected {
  color: crimson;
}

form {
  margin: 0 auto;
  width: 50%;
  display: table;
}

form button {
  margin: auto;
  width: 100%;
  padding: 15px;
  color: white;
  font-weight: bold;
  background-color: #B2AFA1;
  text-transform: uppercase;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 2px;
  border: none;
}

form .InputForm {
  margin: auto;
  border-radius: 1px;
  margin: 20px 0px;
}

form .InputForm input {
  text-transform: uppercase;
  width: calc(100% - 40px);
  font-size: 16px;
  padding: 20px 20px;
  background-color: #eeeeee;
  border: 1px solid #D7C5C2;
}

form .InputForm .weak[type='password'] {
  background-image: url(https://image.flaticon.com/icons/svg/149/149465.svg);
}

form .InputForm .middle[type='password'] {
  background-image: url(https://image.flaticon.com/icons/svg/149/149464.svg);
}

form .InputForm #weak {
  background-image: url(https://image.flaticon.com/icons/svg/149/149149.svg);
  color: green;
  padding-left: 20px;
  background-repeat: no-repeat;
}

form .InputForm #middle {
  background-image: url(https://image.flaticon.com/icons/svg/149/149149.svg);
  background-repeat: no-repeat;
  color: orange;
  padding-left: 20px;
}

form .InputForm #strong {
  background-image: url(https://image.flaticon.com/icons/svg/149/149149.svg);
  background-repeat: no-repeat;
  color: red;
  padding-left: 20px;
}

form .InputForm input[type='password'] {
  background-image: url(https://image.flaticon.com/icons/svg/61/61457.svg);
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: 26px;
}

form .InputForm input:focus {
  border: 1px solid black;
  outline: none;
}

form .InputForm input[type="checkbox"] {
  border: 1px solid red;
  background: #FFF;
  -webkit-appearance: none;
  padding: 5px;
  width: 5px;
}

form .InputForm input[type="checkbox"]:checked {
  background-color: red;
}

form select {
  color: #7f7f7f;
  font-size: 16px;
  background-color: #eeeeee;
  text-transform: uppercase;
  -webkit-appearance: none;
  width: 100%;
  padding: 20px 20px 20px 20px;
  border: 1px solid #D7C5C2;
  background-image: url(https://image.flaticon.com/icons/svg/118/118738.svg);
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: 26px;
}

form select:focus {
  outline: none;
  border: 1px solid black;
}

form #error {
  color: red;
  padding-left: 20px;
  background-image: url(https://image.flaticon.com/icons/svg/149/149149.svg);
  background-repeat: no-repeat;
}

.checkboxDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkboxDesc .InputForm {
  margin-right: 10px;
}

.checkboxDesc .InputForm input {
  width: 20px;
  float: left;
  margin: 0;
}

.checkboxDesc .InputForm p {
  width: 90%;
  float: left;
}

@media (min-width: 1100px) {
  form {
    width: 35%;
  }
}

.signin {
  margin: 0 auto;
}

.signin .headerSignIn {
  text-align: center;
  font-size: 1em;
  border-bottom: 1px solid rgba(127, 127, 127, 0.5);
  width: calc(50% + 20px);
  margin: auto;
}

.signin .headerSignIn h4 {
  margin: auto;
  padding-bottom: 10px;
  border-bottom: 1px solid red;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #7f7f7f;
  font-size: 1em;
  font-weight: 100;
}

.signin .headerSignIn h2 {
  margin-bottom: 10px;
}

.signin a {
  color: crimson;
}

.signin #spanTxt {
  color: #B2AFA1;
}

.signin .footerSignIn {
  text-align: center;
  font-size: 1em;
  width: calc(50% + 20px);
  margin: auto;
}

.signin .footerSignIn h4 {
  font-weight: 100;
}

@media (min-width: 1100px) {
  .signin .headerSignIn {
    width: calc(35% + 20px);
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.content {
  margin: 0 auto;
}

